* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

body {
	font-family: arial;
    background-color: #F8EADC;
}

main {    
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;   
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    text-align: center;
    color: #75B5BB;
}

.display-add-input {
    background-color: #75B5BB;
    color: #FFFFFF;
    width: 30%;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;    
}

.add-input-container {
    display: none;
    flex-direction: column;
    gap: 16px;
}

.edit-input-container {
    display: none;
}

#notes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.note-container {
    background-color: #FFFFFF;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-label, .note-content {
    color: #585858;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-button, .delete-button {
    width: 48%;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0;
    transition-property: background;
    transition-timing-function: ease-in;
    transition-duration: .2s;
    color: #FFFFFF;
}

.edit-button {
    background-color: #75B5BB;
}

.delete-button {
    background-color: #EC755E;
}

.edit-button:hover {
    background-color: #60A1A7;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #D3644F;
    cursor: pointer;
}