* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

body {
	font-family: arial;
    background-color: #F8EADC;
}

main {    
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;   
}